template(name='home')
  .container.row
    .col-xs-12.col-sm-4
      .panel.panel-default.suggestions
        // Default panel contents
        .panel-heading Rate recent suggestions
        ul.list-group
          each profile.places
            if (this.recent)
              li.list-group-item
                div #{this.name}
                div #{this.type}
                | {{> starsRating rating=this.rating size=16 mutable=true id=this.place_id}}
    .col-xs-12.col-sm-8
      .map-container
        | {{> googleMap name="Map" options=MapOptions}}