template(name='home')
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places")
  .container.row
    .col-xs-12.col-sm-8
      .suggestions
        .home-options.panel.panel-default
          .panel-heading Dashboard
          .btn-group.btn-group-justified.padding-1-em
            a.btn.btn-default(href='/friends') Friends
            a.btn.btn-default(href='/find') Find Place
            a.btn.btn-default(href='/profile') Profile
          ul.list-group
            li.list-group-item
              h5 Info
              p Rate to confirm visits or dismiss otherwise.

        .map-container
          | {{> googleMap name="Map" options=MapOptions}}
    .col-xs-12.col-sm-4
      .panel.panel-default.suggestions
        // Default panel contents
        .panel-heading Rate recent suggestions
        ul.list-group.overflow-scroll
          each profile.places
            if (this.recent)
              li.list-group-item
                div #{this.name}
                | {{> starsRating rating=this.rating size=16 mutable=true id=this.place_id}}
                button.dismiss.btn.btn-default(type='button') Dismiss
