template(name='profile')
  .container
    .row
      .col-sm-3
        .profile.picture
          img(src='http://www.gravatar.com/avatar/{{gravatarHash}}?s=200').img-circle.center-block
      .col-sm-9
        .profile.username
          h2 Friends: #{friends}
          h2 Places: #{places}
    br
    .row
      .col-xs-12
        .panel.panel-default.suggestions
          .panel-heading Add Profile Places
          .row.panel-body
            .col-xs-12.col-sm-7
              input.pull-left.form-control#place(type='text', name='place', placeholder='Start typing...')
            .col-xs-6.col-sm-3
              .visible-xs
                br
              | {{> starsRating rating=0 size=32 mutable=true id='newRating'}}
            .col-xs-6.col-sm-2
              .visible-xs
                br
              .btn.pull-right.btn-default#add-place Add
          #new-place-map
            | {{> googleMap name="placesMap" options=mapOptions}}
    br
    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading My places
          ul.list-group.overflow-scroll
            each profile.places
              unless (this.recent)
                li.list-group-item
                  div #{this.name}
                  | {{> starsRating rating=this.rating size=16 mutable=true id=this.place_id}}
                  button.dismiss.btn.btn-default(type='button') Remove